body{
    background-color: #f0f0f0;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}
#card{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}
h1{
    color: #222222;
    text-align: center;
    margin-top: 20px;
}
.card-content{
    max-width: 550px;
    margin: auto;
    padding: 10px 20px 10px 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    text-align: center;
    border: 1px solid #dddddd;
    padding: 10px;
    width: 300px;
}
button{
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: #0056b3;
}
#submit{
    justify-content: center;
    margin-top: 20px;
    font-size: larger;
}
#ans{
    max-width: 800px;
    margin: auto;
    background-color: rgba(227, 227, 227, 0.75);
    padding: 10px 20px 10px 20px;
    margin-top: 0;
    border-radius: 20px;

}